
# -------------------------
# Python
# -------------------------
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.so
*.egg-info/
dist/
build/

# -------------------------
# Node Module
# -------------------------
Application_Prototype/mvp_v1/frontend/node_modules/


# -------------------------
# Virtual Environments
# -------------------------
venv/
.venv/
env/
ENV/

# -------------------------
# Environment Variables
# -------------------------
.env
.env.*
!.env.example

# -------------------------
# Logs
# -------------------------
*.log

# -------------------------
# Database
# -------------------------
*.db
*.sqlite3

# -------------------------
# IDEs & Editors
# -------------------------
.vscode/
.idea/
*.swp
*.swo

# -------------------------
# Supabase
# -------------------------
.agents/
skills-lock.json

# -------------------------
# OS Files
# -------------------------
.DS_Store
Thumbs.db

# -------------------------
# Testing / Coverage
# -------------------------
.coverage
htmlcov/
.pytest_cache/

# -------------------------
# Jupyter
# -------------------------
.ipynb_checkpoints/

# -------------------------
# Mypy
# -------------------------
.mypy_cache/

# -------------------------
# DB_Credentials
# -------------------------
ai_compass_at_supabase.txt

# -------------------------
# Excel Files
# -------------------------
dimensions_table_output.txt
*.xlsx
*.csv

# -------------------------
# VS Code Workspace
# -------------------------
ai-compass.code-workspace
Application_Prototype/mvp_v1/setup.sh
Application_Prototype/mvp_v1/start.sh
Application_Prototype/mvp_v1/stop.sh
Application_Prototype/mvp_v1/backend/services/pdf_service.py
benchmarking_ai/ml_v5/model_artifacts/v5_gap_analyzer.pkl
benchmarking_ai/ml_v5/model_artifacts/v5_industry_data.pkl
benchmarking_ai/ml_v5/model_artifacts/v5_kmeans.pkl
benchmarking_ai/ml_v5/model_artifacts/v5_labels.json
benchmarking_ai/ml_v5/model_artifacts/v5_pca.pkl
benchmarking_ai/ml_v5/model_artifacts/v5_roadmap_gen.pkl
benchmarking_ai/ml_v5/model_artifacts/v5_scaler.pkl
